

.nav-link, .nav-items {
    display: flex;
    align-items:center;
    position: relative;
    height: 50px;
    text-decoration: none;
    margin-right : 30px;
    color: #f1f1f1;
    cursor:pointer;
}

.nav-link:hover{
    
   color: black;

}
.liste {
    list-style-type: none;
    background: linear-gradient(45deg,rgb(156,14,156), midnightblue);
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    height: 100%;
    
}
.navbar-brand {
    text-decoration : none;
    color: #4f5050;
    
}
